<app-home></app-home>
<div class="table table-striped m-1">
    <thead>
        <tr>
            <th *ngFor="let header of tableHeaders" class="text-center">{{header}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bill of bills | async">
            <td>{{bill.id}}</td>
            <td>{{bill.customerName}}</td>
            <td>{{bill.startDate.seconds | datePipe | date}}</td>
            <td>{{bill.endDate.seconds | datePipe | date}}</td>
            <td>{{bill.itemName}}</td>
            <td>{{bill.comment}}</td>
            <td>{{bill.price}}</td><!--(click)="goToDetails(bill.id)"-->
            <td><a routerLink="/billDetails/{{bill.id}}"  class="btn btn-outline-info m-1">Info</a></td>
        </tr>
    </tbody>
</div>
<a class="btn btn-outline-success m-1" routerLink="/createBill">Create</a>
<a routerLink="/home" class="btn btn-outline-danger m-1">Vissza</a>

